<html>
  <head>
    <title>SMTP MTA-STS Webtester</title>
    <script
src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <style>
        body {
          font-family: monospace;
          font-weight: bold;
        } 
        div {
          font-weight: normal;
        }
        #errors {
          color: red;
        }
        #ok {
          color: green;
          display: none;
        }
    </style>
  </head>
  <body>
    See <a href="https://datatracker.ietf.org/doc/draft-ietf-uta-mta-sts/">the RFC</a> for help!
    <form>
      Domain: <input type="text" id="domain" value="gmail.com">
    </form>
    <div id="check" style="border: 1px solid gray; display: inline-block;">Click to check domain</div>
    <hr></hr>
    Errors: <div id="errors"></div>
    Policy ID: <div id="policy_id"></div>
    Policy MX patterns: <div id="policy_mxs"></div>
    Policy Mode: <div id="policy_mode"></div>
    Policy expiration: <div id="policy_expires"></div>
    Found MXs: <div id="mxs"></div>
    <div id="ok">Everything OK!</div>
    <hr></hr>
    <script>
    $("#check").click(function(){
      // Clear all.
      $("#errors").html("");
      $("#policy_id").html("");
      $("#policy_mxs").html("");
      $("#policy_mode").html("");
      $("#policy_expires").html("");
      $("#mxs").html("");
      $("#ok").hide();
      // Do the AJAX thing.
      $.ajax({
        url: "/test/" + $("#domain").val()
      }).then(function(data){
        if (data["errors"] != null) {
          $("#errors").html(data["errors"].join('<br/>'));
        }
        $("#policy_id").html(data["policy_id"]);
        if (data["policy_mxs"] != null) {
          $("#policy_mxs").html(data["policy_mxs"].join('<br/>'));
        }
        $("#policy_mode").html(data["policy_mode"]);
        $("#policy_expires").html(data["policy_expires"]);
        if (data["mxs"] != null) {
          $("#mxs").html(data["mxs"].join('<br/>'));
        }
        if (data["errors"] == null) {
          $("#ok").show();
        }
      })
    });
    </script>
</html>
